<launch>

  <arg name="world_name" default="garage"/>
  <arg name="mapFile" default=""/>

  <node pkg="visualization_tools" exec="visualizationTools" name="visualizationTools" output="screen">
    <param name="metricFile" value="$(find-pkg-prefix visualization_tools)/log/metrics" />
    <param name="trajFile" value="$(find-pkg-prefix visualization_tools)/log/trajectory" />
    <param name="pcdFile" value="$(find-pkg-prefix visualization_tools)/log/pointcloud" />
    <param name="mapFile" value="$(var mapFile)" />
    <param name="overallMapVoxelSize" value="0.1" />
    <param name="exploredAreaVoxelSize" value="0.2" />
    <param name="exploredVolumeVoxelSize" value="1.0" />
    <param name="transInterval" value="0.1" />
    <param name="yawInterval" value="0.17" />
    <param name="overallMapDisplayInterval" value="2" />
    <param name="exploredAreaDisplayInterval" value="1" />
    <param name="saveMetric" value="false" />
    <param name="saveTraj" value="false" />
    <param name="savePcd" value="false" />
  </node>

  <!--node pkg="visualization_tools" exec="realTimePlot.py" name="realTimePlot" output="screen"/-->

</launch>
