[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
TerminalOptions=bash
Exec=bash -c "/home/all/autonomy_stack_mecanum_wheel_platform/system_fast_lio_waypoint.sh"
Icon=/home/all/start.png
Name=Application
Name[en_US]=start_system.desktop
